
/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-status/
/target/surefire-reports/
/target/test-classes/
/.idea/
/build/
.gitignore
/.idea/
/.idea/sonarlint/
/.allure/
